*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
    135deg,
    #5B21B6,
    #7C3AED,
    #A855F7
    );
    padding:20px;
}

.otp-container{
    width:100%;
    max-width:450px;
}

.otp-card{
    background:#fff;
    border-radius:25px;
    padding:40px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.2);
}

.icon{
    font-size:60px;
    color:#7C3AED;
    margin-bottom:15px;
}

.otp-card h2{
    color:#333;
    margin-bottom:10px;
}

.otp-card p{
    color:#666;
    margin-bottom:15px;
}

.email-box{
    background:#f3f4f6;
    padding:12px;
    border-radius:10px;
    font-weight:600;
    color:#5B21B6;
    margin-bottom:20px;
    word-break:break-word;
}

.input-box{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:12px;
    padding:12px;
    margin-bottom:20px;
}

.input-box i{
    color:#7C3AED;
    margin-right:10px;
}

.input-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
}

.verify-btn{
    width:100%;
    border:none;
    padding:14px;
    background:#7C3AED;
    color:#fff;
    font-size:16px;
    font-weight:600;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.verify-btn:hover{
    background:#5B21B6;
}

@media(max-width:500px){

    .otp-card{
        padding:25px;
    }

    .icon{
        font-size:50px;
    }
}